@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Marine-blue: 213, 96%, 18%;
  --Purplish-blue: 243, 100%, 62%;
  --Pastel-blue: 228, 100%, 84%;
  --Light-blue: 206, 94%, 87%;
  --Strawberry-red: 354, 84%, 57%;
  --Light-gray: 229, 24%, 87%;
  --Cool-gray: 231, 11%, 63%;
  --Magnolia: 217, 100%, 97%;
  --Alabaster: 231, 100%, 99%;
  --White: 0, 0%, 100%;
}
.form-field {
  @apply w-full rounded border-neutral-coolGray placeholder-neutral-coolGray shadow focus:ring-2 valid:focus:text-primary-PurplishBlue valid:focus:ring-primary-PurplishBlue invalid:focus:border-transparent invalid:focus:ring-primary-StrawberryRed;
}
.form-error {
  @apply absolute right-0 top-0 p-1 text-xs font-bold text-primary-StrawberryRed;
}
